@media all and (max-width: 480px) {

    .header {
        width: 100%;
        height: 80px;
        display: flex;
        margin: 10px;
    }

    .header-right {
        display: flex;
    }

    .header__left {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
    }

    .SiteLogo {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: flex-start;
        
    }
    
    .signBtn {
        display: none
    }
 }